{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}

<br>
<br>

<div class="container">


    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome...</h1>
                <p>Having a lot of things on your mind now? Forgetting many important things to do? Note down all your top priorities here.</p>
                <p>
                    <a class="btn btn-primary" href="/items" role="button">Create your ToDo List now...
                        &raquo;</a>
                </p>
            </div>
        </div>
    </main>

</div>

{% endblock %}